@font-face {
    font-family: 'headings';
    src: url('fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'regular';
    src: url('fonts/Montserrat-Regular.ttf');
}

@font-face{
    font-family: 'light';
    src: url('fonts/Montserrat-Light.ttf');
}